#header-title {
    text-align: center;
}

#memory-board-container {
    width: 1000px;
    height: 600px;
    background-color: #cccccc;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-around;

}

.card-container {
    width: 150px;
    height: 250px;
    border: 1px #ffffff solid;
    margin: 10px;
    position: relative;
}

.card {
    border: none;
    position: absolute;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
}

.card-front {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.card-back {
    background: #eaeaed;
    color: #0087cc;
    line-height: 250px;
    text-align: center;
    transform: rotateY(180deg);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.flip-card-animation {
    transform: rotateY(-180deg);
}

.java{
    background-image: url("../images/java.png");
}
.php{
    background-image: url("../images/php.png");
}

.ruby{
    background-image: url("../images/ruby.png");
}

.search{
    background-image: url("../images/search.png");
}

.sharp{
    background-image: url("../images/sharp.png");
}