* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#2c0f55), color-stop(#002258), color-stop(#002b4f), color-stop(#002f42), to(#203136));
  background-image: linear-gradient(to left bottom, #2c0f55, #002258, #002b4f, #002f42, #203136);
  background-size: cover;
}

#header-title {
  text-align: center;
  color: #ffffff;
}

.score-board-container {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.score-board-text {
  padding-left: 10px;
  padding-right: 10px;
}

.score-board {
  font-size: 1.5em;
  display: inline-block;
  padding: 20px 50px;
  border: 2px solid #cccccc;
}

#reset {
  cursor: pointer;
}

#memory-board-container {
  width: 1000px;
  height: 600px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
}

.card-container {
  width: 150px;
  height: 250px;
  margin: 10px;
  position: relative;
}

.card,
.matching-memory {
  border: none;
  position: absolute;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}

.card-front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background-color: #cccccc;
  -webkit-transform: translateZ(1px);
  background-image: url("../images/question-sign.png");
  background-repeat: no-repeat;
  background-position: center;
}

.card-back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 250px;
  text-align: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotateY(-180deg) translateZ(1px);
}

.flip-card-animation {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  /* WebKit */
  -moz-transform: rotateY(-180deg);
  /* Mozilla */
  -o-transform: rotateY(-180deg);
  /* Opera */
  -ms-transform: rotateY(-180deg);
  /* Internet Explorer */
}

.flip-card-animation2 {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  /* WebKit */
  -moz-transform: rotateY(-180deg);
  /* Mozilla */
  -o-transform: rotateY(-180deg);
  /* Opera */
  -ms-transform: rotateY(-180deg);
  /* Internet Explorer */
}

.java {
  background-image: url("../images/java.png");
  background-position: center;
}

.php {
  background-image: url("../images/php.png");
  background-position: center;
}

.ruby {
  background-image: url("../images/ruby.png");
  background-position: center;
}

.search {
  background-image: url("../images/search.png");
  background-position: center;
}

.sharp {
  background-image: url("../images/sharp.png");
  background-position: center;
}
/*# sourceMappingURL=style.css.map */